<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por País</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="search( $event )"
        (onDebounce)="suggestions( $event )"
        placeholder="Buscar país...">
      </app-country-input>
    </div>
  </div>

  <ul
    *ngIf="showSuggest"
    class="list-group">
    <li
      *ngFor="let country of suggestCountries"
      class="list-group-item list-group-item-action">
          <a
        class="nav-link"
        [routerLink]="['/country',country.cca2]">
        {{ country.name.common }}
      </a>
      </li>
    <li
      class="list-group-item list-group-item-action"
      (click)="searchSuggest( query )">
          <a class="nav-link">Buscar "{{ query }}"</a>
      </li>
  </ul>

  <hr>

</div>

<div
  *ngIf="haveError"
  class="alert alert-danger">
  No se encontró nada con el término {{ query }}
</div>

<div
  *ngIf="countries.length > 0"
  class="row">
  <div class="col">

    <app-country-table [countries]="countries"></app-country-table>

  </div>
</div>
