<div class="animate__animated animate__fadeIn">
  <h3>Buscar por region <small>{{activeRegion | titlecase}}</small></h3>
  <hr>
  <h5>Seleccione la region</h5>
  <div class="row">
    <div class="col">
      <button
        class="btn btn-outline-primary"
        *ngFor="let region of regions"
        (click)="activateRegion(region)"
        [class]="getClassCss(region)">
        {{region | titlecase}}
      </button>
    </div>
  </div>
</div>
<hr>
<div
  *ngIf="haveError"
  class="alert alert-danger">
  No se encontraron resultados para el termino {{this.activeRegion}}
</div>
<div
  *ngIf="!haveError && countries.length>0"
  class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
