<div
  *ngIf="!country; else divCountry"
  class="alert alert-info">
  Espere por favor {{country}}
</div>

<ng-template #divCountry>
  <div class="row">
    <div class="col-a12">
      <h1>País: <small>{{country.name.common}}</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera:</h3>
      <img
        class="img-thumbnail"
        [src]="country.flags.png">
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
            <strong>Población:</strong> {{country.population | number}}
        </li>
        <li class="list-group-item">
            <strong>Código numérico:</strong> {{country.ccn3| number}}
        </li>
        <li class="list-group-item">
            <strong>Código alpha3:</strong> {{country.cca3 }}
        </li>
      </ul>
    </div>

  </div>
  <h3>Traduciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary mr-1">{{country.translations['fra'].common}}</span>
      <span class="badge bg-primary mr-1">{{country.translations['ara'].common}}</span>
    </div>
  </div>

  <pre class="mt-5">{{country | json}}</pre>
</ng-template>
